{% load static %}
{% block pendingrequest %}

    {% comment %}The tab menu starts here!{% endcomment %}
       

    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="sentrequests">
            Sent Session Requests -{{ club_details }}
        </a>
    </div>

    <div class="ui active tab" data-tab="sentrequests">
        <div class="ui vertical segment">
        <form method="post" action="" id="sentrequest">
        {% csrf_token %}
            <table id="mytable" class="ui very basic collapsing celled sortable table"
                   style="padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;">
                <thead>
                <tr>
                    <th>
                    </th>

                    <th class="four wide column">
                        Venue
                    </th>

                    <th>
                        Date
                    </th>

                    <th>
                        Time
                    </th>

                    <th>
                        Details
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                </thead>

                <tbody>

                {% for i in Club_session %}
                    
                    <tr >
                        <td class="collapsing">
                            <div class="ui fitted checkbox">
                                <input type="checkbox" id="{{ i }}" value="{{ i }}" name="checks" > <label></label>
                            </div>
                        </td>
                        <td name="venue">
                            {{ i.venue }}
                        </td>

                        <td>
                            {{ i.date }}
                        </td>

                        <td>
                            {{ i.start_time }}-{{ i.end_time }}
                        </td>

                        <td>
                            {{ i.details }}
                        </td>

                        <td>
                            {{ i.status }}
                        </td>
                    </tr>
            
                {% endfor %}
                </tr>

                </tbody>
            </table>


            <br>

            <!-- <div class="ui primary right floated button" name="approve" onclick="approve();">Approve Selected</div> -->
            <!-- <div class="ui red right floated button" name = "reject" onclick="approve();">Reject Selected</div> -->
            <div class="field">
                <button class="ui primary button right floated" type="submit" formaction="/gymkhana/cancel/">
                    Cancel Request
                </button>
                <br>
            </div>
            <br>
        </form>
            <div class="ui divider"></div>

        </div>
    </div>
    
{% endblock %}
